body{
    color: white;
    padding-top: 70px;
  background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

   background-position: center;
    background-size: cover;

}

#bodyimage{
     background-image: url(../pictures/TayChrista1.JPG);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;
}

html{
    height: 100%;
}



.author {
    font-size: 30px;
}

.thumbnail{
    background-color: transparent;
}
.panel{
    background-color: transparent;
    color: antiquewhite
}
.jumbotron{
    background-color: transparent;
    color: antiquewhite
}

p {
    color: white;
}



h3 {
    color: white
}
h5 {color: white}

.text-center {
    color: white;
}


.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}



media-object,inverse-dropdown {display: block}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*

NEW CSS
*/


